:root{
    --textColor          :rgb(255, 255, 255);

    --headerHeight       :  30%;
    --headerColor        : rgba(255, 255, 255,0);

    --appleMenuColor       :rgb(209, 209, 209);
    --tabMenuColor       :rgb(255, 255, 255,0);
    --switcherColor      :rgba(255, 255, 255, 0);
    --elementShadowColor :  0 15px 0px rgb(255, 255, 255);

    --introWidth         : 30%;
    --introHeight        : 80% ;
    --tabsBlurValue      : .55rem;
}

@font-face {
	font-family: 'Lemon';
	src: url(‘fonts/LemonJellyPersonalUse-dEqR.ttf’) format(‘truetype’);
}
html,body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    font: inherit;
    font-family: system-ui;
    vertical-align: baseline;
    font-weight: bold;
    font-weight:600;
}

#header{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 2;
    height:var(--headerHeight);
    /* background-color: var(--headerColor); */
    background: no-repeat url(img/peakpx2.jpg);
    background-size: 100% 100%;
    font-size:3vw;
    width: 100%;
    color: white;
}

#userName{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2%;
    top: 0;
    width: 26vw;
    height: 10vw;
    right:-10%;
    animation: heartbeat_text 10s infinite alternate;
    font-family: 'Vujahday Script', cursive;
}

#userName img{
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 60%;
    right: -2.5%;
    padding-top: 1.5%;
    z-index: -1;
    transform: rotate(0.01turn);
}

.linksMenu{
    position: absolute;
    overflow:hidden;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 85%;
    bottom: 5%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:large;
    line-height: 1.3em;
    background-color: var(--tabMenuColor);
    border-radius:0.7rem;
    transition: .6s;
}

.linksMenu:hover{
    opacity: 100%;
}

#switcher {
    position: absolute;
    display: flex;
    height: 100%;
    padding: -.5em;
    transition: all 0.3s ease-out;
    background: url(img/planche.png);
    background-size:100% 100%;

    box-shadow: var(--elementShadowColor);
}

.linksMenu a {
    display: inline-flex;
    padding: .5rem;
    margin: .2rem;
    color: var(--textColor);
    text-decoration: none;
}

.tabsContainer{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--headerHeight));
    bottom: 0;
}

[data-target="tabHome"],[data-target="tabHistory"]{
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    opacity: 50%;
}
.everyTab{
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    backdrop-filter: blur(.8rem);
    transition-property: transform;
    transition-timing-function: linear;
    /* opacity:35%; */
}

#tabHome{
    position: fixed;
    background: no-repeat url(img/peakpx.jpg);
    background-size:100% 100%;
}
#face{
    position: absolute;
    right: 5%;
    bottom: 2%;
    transform: scale(.6) rotate(.02turn);
    border-radius:
70% 30% 69% 31% / 24% 68% 32% 76%
}
#intro{
    width: var(--introWidth);
    height: var(--introHeight);
    background: no-repeat url("img/tabletVertical.png");
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    /* background-color: rgba(255, 255, 255, 0.1); */
}
#intro div{

    width: 60%;
}
#intro img{
    position: absolute;
}


#blurMaskTop{
    position: fixed;
    width: 100%;
    height: calc((100% - var(--introHeight)) / 2);
    top: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#blurMaskBottom{
    position: fixed;
    width: 100%;
height: calc((100% - var(--introHeight)) / 2);
    bottom:0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
    
}

#blurMaskLeft{
    position: fixed;
    height: 100%;
    width: calc((100% - var(--introWidth)) / 2);
    left: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#blurMaskRight{
    position: fixed;
    height: 100%;
    width: calc((100% - var(--introWidth)) / 2);
    right: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#tabAchievements{
    position: fixed;
  
    background: no-repeat url(img/peakpx3.jpg);
    background-size:100% 100%;
}

#tabContact{
    position: fixed;
    background: no-repeat url(img/ali-abdul-rahman-Xva-TYqwHhA-unsplash.jpg);
    background-size:100% 100%;
}

.aggregatedSensorDataTable {
    background: rgba(0, 0, 0, 0.3);
    width: 80%;
    color: rgb(248, 247, 243);
    text-align: center;
    margin: 1em;
    border: 0.2rem solid darkgray;
    border-collapse: separate;
    border-spacing: 0.35em;
    border-radius: 0.5em;
}

.aggregatedSensorDataTable thead {
    background-color: #9e9e9e;
}

.aggregatedSensorDataTable thead tr td{
    border-radius: 0.075em;
}

#latestAlertsContainer{
    display: flex;
    padding: 0;
    gap: 2em;
}

.latestAlert{
    list-style: none;
    width: min(35vw, 10em);
    background: rgba(0, 0, 0, 0.3);
    aspect-ratio: 1/1;
    outline: 0.3em solid gray;
    border-radius: 1em;
    padding: 1em;
}

.latestAlert > *{
    color: white;
}

#alertsHistory{
    overflow-y: scroll;
    display: flex;
    width: min(85vw, 50em);
    height: 18em;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: column;
    border-radius: 2% / 4%;
    padding: 0.5em 2.5em;
}

.alertHistoryItem{
    list-style: none;
    width: 100%;
}

.alertHistoryItem > div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.alertHistoryItem:not(:first-child){
    border-top: solid 0.1em rgba(255, 255, 255, 0.6);
}

.alertHistoryItem > div > *{
    color:white;
}

.alertHistoryItem > div > p{
    width : 30%;
}

.alertHistoryItem > div > div:first-child{
    width : 15%;
}

@keyframes heartbeat_text_shadow{
    from{
        text-shadow: 0 0px 10px rgb(180, 161, 255); 
    }
    to{
        text-shadow: 0 0px 25px rgba(130, 100, 255, 4);
    }
}

@keyframes heartbeat_text{
    from{
        text-shadow: 0 0px 10px rgb(24, 12, 7); 
        color: rgb(24, 12, 7); 
    }
    to{
        text-shadow: 0 0px 25px rgba(73, 187, 240, 0.9);
        color: rgba(73, 187, 240, 0.9);
    }
}


.middle {
    transform: translateX(0);
}

.right {
    transform: translateX(100%);
}

.left {
    transform: translateX(-100%);
}