:root{
    --textColor          :rgb(255, 255, 255);

    --headerHeight       :  30%;
    --headerColor        : rgba(255, 255, 255,0);

    --appleMenuColor       :rgb(209, 209, 209);
    --tabMenuColor       :rgb(255, 255, 255,0);
    --switcherColor      :rgba(255, 255, 255, 0);
    --elementShadowColor :  0 15px 0px rgb(255, 255, 255);

    --introWidth         : 30%;
    --introHeight        : 80% ;
    --tabsBlurValue      : .65rem;
    --z                  : 10vh;
}

html,body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    font: inherit;
    font-family: system-ui;
    vertical-align: baseline;
    font-weight: bold;
    font-weight:600;
}

#header{
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 2;
    height:var(--headerHeight);
    background: no-repeat url(img/peakpx2.jpg);
    background-size: 100% 100%;
    font-size:3vw;
    width: 100%;
}

#myName{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2%;
    top: 0;
    width: clamp(10em, 500px, 60%);
    font-size:clamp(1.5em, 16px, 70%) ;
    height:clamp(25%, 7vw, 5em);
    right:-10%;
    animation: heartbeat_text 8s infinite alternate;
    font-family: 'Vujahday Script', cursive;
}

#myName img{
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 60%;
    right: -2.5%;
    padding-top: 1.5%;
    z-index: -1;
    transform: rotate(0.01turn);
}

.linksMenu{
    position: absolute;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 85%;
    bottom: 5%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size:large;
    line-height: 1.3em;
    background-color: var(--tabMenuColor);
    border-radius:0.7rem;
    transition: .6s;
}

#switcher {
    position: absolute;
    display: flex;
    height: 100%;
    transition: all 0.3s ease-out;
    background: url(img/galet.png);
    background-position: 50% 50%;
    background-size:120% 170%;
    box-shadow: var(--elementShadowColor);
}

.linksMenu a {
    display: inline-flex;
    padding: .5rem;
    margin: .2rem;
    color: var(--textColor);
    color: rgb(25, 87, 92);
    color: azure;
    text-shadow: 0 0px 15px rgb(27, 6, 110);
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 2px rgba(0,0,0,.7);
    text-decoration: none;
    animation: heartbeat_text 6s infinite alternate;
    cursor: pointer;
}

.tabsContainer{
    position: absolute;
    width: 100%;
    height: calc(100% - var(--headerHeight));
    bottom: 0;
}

[data-target="tabHome"],[data-target="tabHistory"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    opacity: 50%;
}

.everyTab{
    width: 100%;
    bottom: 0;
    height: calc(100% - var(--headerHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: auto;
    backdrop-filter: blur(.8rem);
    transition-property: transform;
    transition-timing-function: linear;
}

.mask{
    width: 100%;
    height: 100%;
    z-index: 1;
}

#overlayBubble{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mask.unmask{
    display:none;
}

.blurMask::before{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-mask: radial-gradient( circle at calc(var(--x, 1) * 100% )  calc(var(--y, 0) * 100% ), transparent var(--z), #000 51px);
    mask: radial-gradient( circle at calc(var(--x, 1) * 100% )  calc(var(--y, 0) * 100% ), transparent 150px, #000 51px);
    background: rgba(0,0,0,.09);
    backdrop-filter: blur(var(--tabsBlurValue));
    z-index: 1;
}

#searchContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(218, 250, 250);
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    height: 100%;
    z-index: 3;
    right: 0%;
    top:0%;
}

#activateSearch img{
    z-index: 2;
    right: 1rem;
    position: relative;
    top: -8vh;
    width: clamp(4.5rem, 6rem,10%);
    cursor: pointer;
}

#activateSearch img:hover{
    transform: scale(1.2);
}

#treasuresContainer{
    display: flex;
}

#treasuresContainer img{
    position: fixed;
    right: 1rem;
    bottom: 2vh;
    width: clamp(2.5em, 8em,10%);
}

#treasuresContainer span {
    position: fixed;
    right: 1rem;
    bottom: 20vh;
    font-size: clamp(.6em, 6em,10%);
}

.zone{
    position: absolute;
    z-index: 2;
    height: 15%;
    border-radius: 50%;
    background-color: rgba(55,55,55,.000000002);
}

.zoneImage{
    z-index: 1;
    width: 100%;
}
.zoneImage:hover{
    transform: scale(1.2);
}

#zoneYang{
    top:51.5%;
    left: 8.5%;
    width: 9%;
    border:0;
}

#zoneYin{
    top:48.5%;
    right: 25.5%;
    width: 9%;
}

#zoneRythmy {
    top:62.5%;
    left: 39.5%;
    width: 9.5%;
}

#zoneEasygit{
    bottom:2%;
    left: 2.6%;
    width: 9%;
}

.infoBubble{
    position: fixed;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: no-repeat url("img/bubble.png");
    background-size:100% 100%;
    width: clamp(11rem, 25rem, 40%);
    height: clamp(11rem, 30rem, 70%);
    aspect-ratio: 1/1;
    border-radius: 50%;
    transform: translateY(-100%) scale(.005);
    text-align: center;
    padding: 1.5em;
    backdrop-filter: blur(var(--tabsBlurValue));
}

.infoBubble img{
    color:rgba(15, 40, 51, 0.9);
    height: 35%;
    color: azure;
}

#closeBubble{
    bottom: 15%;
    color: azure;
    height: .1em;
    cursor: pointer;
}

#closeBubble:hover{
    transform: scale(1.2);
}

#textBubble{
    color:rgba(15, 40, 51, 0.9);
    width: 80%;
    font-size: min(90vw,90%);
    color: azure;
}

.infoBubble a{
    color: azure;
    color:rgba(15, 40, 51, 0.9);
    font-size: min(90vw,90%);
    animation: heartbeat_text_shadow 5s infinite alternate ease-in-out;
}
.infoBubble a:hover{
    transform:scale(1.2)
}

#linkSite{
    color: azure;
    color:rgba(15, 40, 51, 0.9);
    font-size: min(90vw,90%);
    animation: heartbeat_text_shadow 5s infinite alternate ease-in-out;
}
#linkSite:hover{
    transform:scale(1.2)

}

.infoBubble.activeBubble{
    transform: translateY(0%) scale(100%);
    transition: transform 250ms cubic-bezier(0.18,0.89,0.43,1.19);
}

#tabHome{
    position: fixed;
    background: no-repeat url(img/peakpx.jpg);
    background-size:100% 100%;
}

button{
    position: absolute;
    width: 10%;
    height: 10%;
}

#face{
    position: absolute;
    width: clamp(50px,20em,50%);
    right: 6%;
    bottom: 5%;
    max-height: 80%;
    transform: rotate(-.01turn);
    border-radius: 51% 49% 63% 37% / 41% 55% 45% 59% ;
    z-index: -1;
}

#kick{
    position: absolute;
    width: 35%;
    width: clamp(50px,20em,50%);
    max-height: 80%;
    left: 8%;
    bottom: 20%;
    transform: rotate(.02turn);
    border-radius: 51% 49% 68% 32% / 41% 68% 32% 59% ;
    z-index: -1;
}

#intro{
    width: clamp(20vw, 500px,60%) ;
    height: var(--introHeight);
    background: no-repeat url("img/tabletVertical.png");
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
}

#introContent{
    position: absolute;
    color: white;
    top:12%;
    bottom:12%;
    text-align:justify;
    overflow:auto;
    padding: .55em;
    width: 70%;
}

#emptyPannel{
    position: absolute;
    top:12%;
    bottom:12%;
    padding: .55em;
    width: 70%;
    z-index: -1;
}

/** scrollbar **/
/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(38, 114, 150); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(15, 45, 59); 
}
/***************/

#intro img{
    position: absolute;
}

#btnFlipTablet{
    position: absolute;
    width: 6%;
    height: 5%;
    bottom: 2%;
    border-radius: 50%;
}

#btnFlipTablet:hover{
    cursor: pointer;
}

.flipTuileOn{
    animation :flip-on .2s linear ;    
}

.flipTuileOff{
    animation :flip-on .2s linear reverse;
}

#blurMaskTop{
    position: fixed;
    width: 100%;
    height: calc((100% - var(--introHeight)) / 2);
    top: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#blurMaskBottom{
    position: fixed;
    width: 100%;
    height: calc((100% - var(--introHeight)) / 2);
    bottom:0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#blurMaskLeft{
    position: fixed;
    height: 100%;
    width: calc((100% - var(--introWidth)) / 2);
    left: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#blurMaskRight{
    position: fixed;
    height: 100%;
    width: calc((100% - var(--introWidth)) / 2);
    right: 0;
    background-color: rgba(255, 255, 255, 0.001);
    backdrop-filter: blur(var(--tabsBlurValue));
}

#tabAchievements{
    position: fixed;
    background: no-repeat url(img/fondDone.jpg);
    background-size:100% 100%;
}

#tabContact{
    position: fixed;
    background: no-repeat url(img/ali-abdul-rahman-Xva-TYqwHhA-unsplash.jpg);
    background-size:100% 100%;
}

#contactFormContainer{
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    width: 100%;
    height: 80%;
    margin-bottom: 0%;
}

#contactForm{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#userGender{
    font-family: 'Vujahday Script', cursive;
    display: flex;
    font-size: clamp(1.7vw, 16px, 3.5vw);
    color: azure;
}

[name='userGender']{
    accent-color: rgba(73, 187, 240, .4);
}

.formStyle{
    background-color: rgba(109, 72, 72, .2);
    background-size:100% 100%;
    border: 0;
    color:black;
    display: flex;
    width: clamp(30%, 700px,80%);
    text-align: center;
    font-family: 'Vujahday Script', cursive;
    max-height: 2rem;
    padding: .25em;
}

#userName, #userSurname{
    border-radius: 25px;
    font-size: clamp(1.5em,2em,3.5em);
    height: 5%;
}

.formStyle:focus{
    animation: heartbeat_element .6s  alternate infinite;
}

.formStyle:hover{

    animation: heartbeat_element .6s  alternate infinite;
}

.formStyle::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

#userMessage{
    background-size:100% 100%;
    border: 0;
    border-radius: 25px;
    font-size: clamp(1em,1.5em,2.5em);
    color:black;
    display: flex;
    width: clamp(80vw,700px ,60%);
    aspect-ratio: 1/1;
    text-align: center;
    font-family: 'Vujahday Script', cursive;
    max-height: 30vh;
    min-height: 15vh;
    padding: .25em;
    background-color: rgba(109, 72, 72, .2);
}

#userSubmit{
    position: relative;
    background: no-repeat url("img/bubble.png");
    background-size:100% 100%;
    border: 0;
    width:20%;
    height: 5vh;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    font-family: 'Vujahday Script', cursive;
    font-size: clamp(.5em, 1.4em, 2.5em);
}

#userSubmit:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.middle {
    transform: translateX(0);
}

.right {
    transform: translateX(100%);
}

.left {
    transform: translateX(-100%);
}

.clickAnim {
    position:fixed;
    width:50px;
    height:50px;
    border-radius: 50px;
    background: linear-gradient(
                to top left,
                rgba(73, 187, 240, .4),
                rgba(73, 187, 240, .4) 40%,
                rgba(109, 72, 72, .2));
    z-index: 7;
    transform: scale(0);
    transform-origin: center;
    animation:ripple-effect .4s  linear;
}

@keyframes heartbeat_text{
    from{
        text-shadow: 0 0px 1px rgb(73, 187, 240); 
        color: rgb(24, 12, 7); 
    }
    to{
        text-shadow: 0 0px 25px rgba(73, 187, 240, 0.9);
        color: rgba(46, 117, 150, 0.9);
    }
}
 
@keyframes ripple-effect {
    to  {
            transform:scale(15);
            opacity: 0.01;
        }
}

@keyframes heartbeat_text_shadow{
    from{
        text-shadow: 0 0px 10px rgb(255, 255, 255); 
        color: rgba(16, 41, 53, 0.9);
    }
    to{
        text-shadow: 0 0px 15px rgb(73, 187, 240);
        color: rgba(255, 255, 255, 0.9);
    }
}

@keyframes flip-on{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(90deg);
    }    
}

@keyframes heartbeat_element{
    from{
        box-shadow: 0 0px 25px rgba(130, 100, 255, .2);
    }
    to{
        box-shadow: 0 0px 35px rgba(73, 187, 240, 1);
	}
}